@import url('https://fonts.google.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 196, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif
}

.container {
    background-color: white;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 20px;
    margin: 10px;
}

input {
    width: 90%;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(219, 51, 253);
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.error {
    background-color: rgb(255, 139, 139);
    padding: 5px 0;
    width: 78%;
    text-align: center;
    display: none;
}

h3 {
    margin-top: 5px;
    font-size: 22px;
}

.message {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 29, 29);
    margin-top: -5px;
}

